/*Iconos de los Usuarios en el Servidor*/

/*Dropp Bot*/#lobby-userlist-user-droppbot, #staff-userlist-user-droppbot{background: #EBEBEB url("http://www.serebii.net/red_green/sprites/382.gif") right no-repeat;}

/*The WleDey*/#lobby-userlist-user-thewledey, #staff-userlist-user-thewledey{background: #EBEBEB url("http://orig02.deviantart.net/c262/f/2011/087/d/f/magikarp_sprite_by_meleemovies-d3cph78.png") right no-repeat;}

/*XChumitoX*/#lobby-userlist-user-xchumitox, #staff-userlist-user-xchumitox,#casino-userlist-user-xchumitox,#eventos-userlist-user-xchumitox,#loszumitos-userlist-user-xchumitox,#warroom1-userlist-user-xchumitox,#wifi-userlist-user-xchumitox{background: #EBEBEB url("http://orig04.deviantart.net/71c5/f/2011/362/4/1/dialga_overworld_sprite_by_tuibiel-d4kioa0.gif") right no-repeat;}

/*Jeidel*/#lobby-userlist-user-jeidel, #staff-userlist-user-jeidel{background: #EBEBEB url("http://www.serebii.net/pokedex-xy/icon/384.png") right no-repeat;}

/*KingSwordYT*/#lobby-userlist-user-kingswordyt,#staff-userlist-user-kingswordyt,#uzumaki-userlist-user-kingswordyt,#warroom1-userlist-user-kingswordyt,#ligadropp-userlist-user-kingswordyt{background: #EBEBEB url("http://www.pkparaiso.com/imagenes/pokedex/xy-icons/675.png") right no-repeat;}

/*Fairy Curse*/#lobby-userlist-user-fairycurse,#staff-userlist-user-fairycurse{background: #EBEBEB url("http://www.psypokes.com/forums/images/smilies/407.gif") right no-repeat;}

/*Niborin*/ #lobby-userlist-user-niborin,#staff-userlist-user-niborin,#nekosyanderes-userlist-user-niborin,#warroom1-userlist-user-niborin,#warroom2-userlist-user-niborin,#warroom2-userlist-user-niborin,#casino-userlist-user-niborin{background: #EBEBEB url("http://www.rw-designer.com/icon-image/3123-32x32x32.png") right no-repeat;}

/*artchemist*/#lobby-userlist-user-artchemist,#nekosyanderes-userlist-user-artchemist,#warroom1-userlist-user-artchemist,#eventos-userlist-user-artchemist,#ligadropp-userlist-user-artchemist,#casino-userlist-user-artchemist{background: #EBEBEB url("http://vignette3.wikia.nocookie.net/es.pokemon/images/1/19/Arceus_icon.png/revision/latest?cb=20131226041204") right no-repeat;}
